<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="deltatreTestSuite">
	<test name="purchaseAutomobileInsurancePolicy">
		<classes>
			<class name="tests.PurchaseAutomobileInsurancePolicyTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
